<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        <%= link_to "プロフィール", users_profile_path, class: "btn btn-warning btn-sm mb-2 btn-block" %>
        <%= link_to "アカウント", users_account_path, class: "btn btn-warning btn-sm btn-block" %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="show">
      <div class="title">